# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Jupyter Notebook
.ipynb_checkpoints

# VS Code
.vscode/

# Environment
.env
.venv
env/
venv/
ENV/

# Model files and data
*.pkl
*.h5
*.model
*.bin
data/

# Logs
*.log

# Local Spark files
spark-warehouse/
metastore_db/

# System Files
.DS_Store
Thumbs.db